.contacts {
    padding: 20px 0;
    text-align: center; 
}

.contacts h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contacts p {
    margin-bottom: 20px;
}

.social {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.contact-methods ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
}

.contact-methods li {
    margin: 0 15px
}

.contact-methods a {
    display: flex;
    align-items: center;
    color: #5e6d37;
    text-decoration: none;
    font-size: 24px; /* Increase the icon size */
}

.contact-methods a:hover {
    color: #4a5a2b; /* Hover effect for links */
}

.contact-methods h3 {
    padding-bottom: 5px;
}
.location {
    margin-top: 20px;
    text-align: center; /* Center the location text */
}

